.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--secondary-background-color);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
}

.error {
  color: var(--error-color);
  font-weight: 600;
  text-align: center;
}
