@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: var(--primary-background-color);
}
.header h2 {
  color: green;
}
.h2 span {
  color: blue;
}
.header ul li {
  display: inline-block;
}
.a {
  text-decoration: none;
  color: green;
  margin: 0 10px;
  font-size: 1.4rem;
}
.a:hover {
  color: var(--button-hover-bg);
}
