.carouselWrapper {
  margin-top: 2rem;
  overflow: hidden;
  width: 100%;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 80%;
  padding: 0 0.5rem;
}

.a {
  position: relative;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 4px;
  transition: color 0.3s ease, font-size 0.3s ease;
}

.a:hover {
  color: var(--primary-color);
  font-size: 1.3rem;
  text-decoration: none;
}


@media (min-width: 640px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 33.33%;
  }
}
